@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /*fonts*/
  --font-primary: var(--font-lexend-giga);
  --font-secondary: var(--font-saira-sans);
  --font-tertiary: var(--font-lexend-zetta);

  /* colours */
  --color-primary: #e9d73c;
  --color-secondary: #e2e3d8; /* e2e3d8 */
  --color-tertiary: #7fff00 /*c4fe2a - 7fff00*/;
  --color-accent: #f077f9;
}

@theme {
  --breakpoint-3xl: 100rem;
}

@layer base {
  :root {
    --background: #306bf4; /*#4b7bec #19720f*/
    --foreground: #001c00;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-secondary);
  }

  h1 {
    @apply text-6xl text-secondary font-tertiary font-bold mb-8;
  }

  h1 .h1span {
    @apply text-6xl text-accent font-tertiary font-bold mb-8;
  }

  h2 {
    @apply text-4xl text-tertiary font-primary mb-4 uppercase font-bold;
  }

  .projectCard h2 {
    @apply text-foreground capitalize text-center font-bold;
  }

  h3 {
    @apply text-3xl text-foreground font-primary mb-4;
  }

  p {
    @apply text-2xl font-secondary;
  }

  /* hide scrollbar */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .heroText {
    font-family: var(--font-lexend-zetta);
    font-weight: 900;
    font-size: 8rem;
    letter-spacing: 0;
    text-transform: uppercase;
    stroke: var(--color-foreground);
    stroke-width: 2px;
    paint-order: stroke;
    stroke-linejoin: round; /* smooth corners */
  }

  .pagePadding {
    @apply px-8 pt-24 pb-16;
  }

  .secondPagePadding {
    @apply py-8 px-8 pb-16;
  }
}
